*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse-Bold.otf') format('opentype');
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  display: flex;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
    color: inherit;
}

#root, #__next {
  isolation: isolate;
}

h2 {
    color: rgb(20, 20, 20);
}

.input-set {
    display: flex;
    gap: 80px;
    padding-bottom: 24px;
}

fieldset {
    padding-left: 4vh;
    color: rgb(51, 51, 51);  
}

label {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 250px;
}

input:invalid {
    border: 1px solid red;
}

input:focus {
    outline: none;
    border: 1px solid rgb(65, 65, 255);
    box-shadow: 2px 2px 4px lightgrey;
}

h1 {
    padding: 16px 0px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

#hero {
    padding: 16vh 4vh 6vh;
}

fieldset {
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px lightgrey;
}

#green-leaf {
    height: 100vh;
    width: 100%;
}

#odin {
    width: 20%;
}

#odin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    padding: 12px 0;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-family: "Norse";
    font-size: 86px;
}

#credit {
    position: absolute;
    font-size: 12px;
    padding-bottom: 8px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.underline {
    text-decoration: underline !important;
}

#left {
    height: 100%;
    position: relative;
}

#right {
    background-color: #f9f9f9;
    width: 100%;
}

.btn {
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 64px;
    margin: 36px 0 0 4vh;
    background-color: #596D48;
}

#bottom-text {
    margin: 24px 4vh;
}

#log-in {
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
}